/* Background video */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
}

/* General body styles */
body {
    background-color: #806c6c;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    z-index: 100;
    animation: fadeIn 0.5s ease-in-out;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 5px;
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ccc;
    transition: 0.4s ease;
}

main .content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    text-align: center;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: rgba(255, 255, 255, 0.8); */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Login form styles */
.login-container {
    background-color: #ffffff;
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    animation: fadeIn 1s ease-in-out;
}

.login-container h2 {
    color: #333;
    margin-bottom: 20px;
}

.login-form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #88d3ce;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.login-form input:focus {
    border-color: #6e45e2;
}

button {
    background-color: #6e45e2;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #88d3ce;
}

.login-container a {
    display: block;
    margin-top: 15px
}